.search-wrapper{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}

:root{
  --default-border: #5F5E5E;
  --higlighted-border: #808080;
  --selected-border: #9b9b9b;
}

.search-wrapper input[type=text]{
  width: 100%;
  height: 50px;
  border-radius: 7px;
  padding: 0 15px;
  outline: none;
  border: solid 1px var(--default-border);
  background: black;
  color: white;
  font-family: Poppins;
  font-size: 16px;
  
  &::placeholder{
    color: rgb(255 255 255 / .5);
    font-family: Poppins;
  }
  &:hover{
    border: solid 1px var(--higlighted-border);
  }
  &:focus{
    border: solid 1px var(--selected-border);
  }
  transition: all .2s ease-out;
}

.search-wrapper button{
  min-width: 50px;
  height: 50px;
  border-radius: 7px;
  background: #121212;
  border: solid 1px var(--default-border);
  cursor: pointer;
}

.make-search, .clear-search{
  transition: all .2s ease;
  &:hover{
    scale: 1.1;
    border: solid 1px var(--selected-border);
  }
  &:active{
    scale: .95;
    border: solid 1px var(--default-border);
  }
}

.clear-search{
  transition: all .2s ease;
}
.clear-search.hidden{
  opacity: 0;
  scale: 0.7;
  cursor: default;
}

:root{
  --category-size: 95px
}

.categories-wrapper{
  display: grid;
  grid-template-columns: repeat(3, var(--category-size));
  gap: 10px;
}

.category{
  border-radius: 7px;
  background: #121212;
  border: solid 1px var(--default-border);
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--category-size);
  height: var(--category-size);

  &:hover{
    border: solid 1px #7e7e7e;
  }
  transition: all .2s ease-out;
  user-select: none;
  cursor: pointer;
}

.category img{
  width: 60px;
  opacity: .75;
  transition: all .2s ease-out;
}

.category:hover img{
  opacity: 1;
  scale: 1.05;
}
.category:active img{
  scale: .95;
}