@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(
    to right, #060606, black
  );
  height: 100vh;
}

header{
  width: 500px;
  height: 100vh;
  padding: 120px 80px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  font-family: 'Poppins', system-ui;
  font-size: 90px;
  line-height: 90px;
  color: white;
  user-select: none;
  text-shadow: 0 0 14px black;
}

.copied-message{
  color: white;
  font-family: system-ui;
  padding: 10px 22px;
  border-radius: 5px;
  background: #1e0a48;
  box-shadow: 0 0 5px #1e0a48;
  position: fixed;
  font-size: 24px;
  font-weight: 500;
  text-wrap: nowrap;

  bottom: 20px;
  left: 235px;
  animation: copied-msg-appear 2s ease both;
}

@keyframes copied-msg-appear{
  0%{
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  15%, 90%{
    opacity: 1;
    transform: translate(-50%, -25%);
  }
  100%{
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

.loading-circle{
  position: absolute;
  right: calc(25vw + 60px);
  top: 20vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    rgb(64, 64, 64), rgb(23, 23, 23)
  );

  &::after{
    content: '';
    background: #020202;
    width: 75%;
    height: 75%;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  animation: 
    loading-spin 1s linear infinite,
    loading-appear .18s ease both;
}

@keyframes loading-spin{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes loading-appear{
  from{
    scale: .9;
  }
  to{
    scale: 1;
  }
}

@media screen and (max-width: 1200px) {
  .title{
    font-size: 75px;
    margin-top: 50px;
    text-wrap: nowrap;
  }
  header{
    width: 80vw;
    height: auto;
    position: relative;
    padding: 0;
    gap: 40px;
  }
  .copied-message{
    font-size: 20px;
    bottom: 20px;
    left: 50%;
  }
  .loading-circle{
    right: 50%;
    top: 10vh;
    translate: 50%;
  }
}

@media screen and (max-width: 650px) {
  .title{
    font-size: 11vw;
    line-height: calc(10vw - 25px);
    text-align: center;
  } 
}
  